@import '_vars'

div.brick
    line-height: 2
    font-weight: 500
    margin-bottom: 1rem
    transition: transform 0.1s
    cursor: grab
    width: fit-content
    padding: 1rem
    box-shadow: 5px 5px 15px $shadow
    user-select: none

    &.blue
        background: $blue
    &.teal
        background: $teal
    &.purple
        background: $purple
    &.green
        background: $green
    &.orange
        background: $orange
    &.yellow
        background: $yellow

    &:hover
        opacity: 0.9

    input
        margin-inline: 5px
        font-size: 14px
        width: 200px
        border: none
        padding: 5px
        background: $bg-light
        outline: 5px

    &.gu-transit
        transform: scale(1.03)
        filter: brightness(1.1)

    &.gu-mirror
        opacity: 0.8
        cursor: grabbing

    &.remove
        background: $red
