@import '_vars'

$dot-size: 1px
$dot-space: 30px

main.builder
    background: linear-gradient(90deg, $bg ($dot-space - $dot-size), transparent 1%) center, linear-gradient($bg ($dot-space - $dot-size), transparent 1%) center, $dot
    background-size: $dot-space $dot-space
    height: 150vh
    width: 150vw

section.workspace
    margin-left: 400px
    padding: 2rem

    div.container
        height: 90vh

        div.brick
            margin-bottom: 0

        p
            margin-top: 0
            opacity: 0.8

kbd
    padding: 4px 7px
    background: $dot
