@import '_vars'

section.sidebar
    top: 0
    left: 0
    width: 400px
    height: 100vh
    z-index: 500
    padding: 1rem
    position: fixed
    background: $bg-light
    overflow-y: auto
    scrollbar-color: $dot $bg
    scrollbar-width: thin
    border-right: 1px solid $dot
    backdrop-filter: blur(5px)

    h2
        margin-top: 0
        font-size: 1.5rem
        font-weight: 500
